.personal_info_container {
    display: flex;
    flex-direction: row;
}

#image-box {
    width: 161px;
    height: 179px;
    margin-left: 141px;
    background-color: #C4C4C4;
    display: flex;
    flex-direction: column;
}

.image-container {
    width: 161px;
    height: 179px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#edit_passport {
    color: #f8f9fa;
    height: 42px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.30);
}

#edit_passport:hover {
    background-color: rgba(0, 0, 0, 0.45);
}

.personal_info_table {
    border-collapse: collapse;
    width: 500px;
    margin-bottom: 25px;
}

.personal_info_table tr {
    border-bottom: 1px solid rgba(216, 164, 177, 0.22);
}

.personal_info_table td {
    width: 250px;
    padding: 12px 9px;
    font-size: 15px;
}

.personal_info_table tbody tr:nth-of-type(even) {
    background-color: rgba(88, 65, 71, 0.04);
}

.personal_info_table tbody tr:first-child {
    border-top: 1px solid rgba(216, 164, 177, 0.22);
}

.table_plus_button {
    display: flex;
    flex-direction: column;
    align-items: center;
}