.research_completed_form {
    width: 500px;
    height: 500px;
}

.button_bar {
    width: 405px;
    height: 37px;
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
}

.research_completed_form {
    padding-top: 27px;
}

.research_completed_form div {
    margin-top: 9px;
}

.research_completed_form #research_title {
    width: 405px !important;
}

.research_completed_form #details {
    margin-top: 9px;
    width: 405px !important;
}

.research_completed_form .black_button {
    width: 185px;
}