/*
 *  drawer background-color: #EDD4D4;
 */

@font-face {
    font-family: roboto;
    src: url("../static/Roboto/Roboto-Regular.ttf");
}

.nav_container::-webkit-scrollbar {
    width: 10px;
}

.nav_container::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.16);
}

.nav_container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(255, 158, 162, 0.47);
}

.nav_container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(168, 84, 89, 0.63);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", serif;
    text-decoration: none;
    list-style: none;
}

h1 {
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 9px;
}

nav {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    align-items: center;
}

nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav_container{
    height: 100vh;
    min-width: 250px;
    display: flex;
    justify-content: center;
    background-color: #EDD4D4;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    box-shadow: 6px 0 6px rgba(0, 0, 0, 0.16);
    z-index: 10;
    padding-bottom: 30px;
}


.nav_container nav a {

    font-size: 15px;
}
.nav_box.active{
    color: #A12B33;
    border-left: solid #A12B33 6px;
}


.nav_box .active{
    color: #A12B33;
}
.nav_box .non_active{
    color: #212529;
    padding-left: 6px;
}
.nav_box{

    min-height: 15px;
    margin-bottom: 1px;
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 10px 49px;
}

.nav_box:hover {
    background-color: rgba(255, 242, 254, 0.52);
    transition: background 200ms ease-in;
}

.nav_box ul .nav_box {
    font-size: 12px;
    max-width: 175px;
    padding-left: 20px;
}

#publication {
    color: #212529;
    overflow: hidden;
}


#form-container{
    background-color: #F8F9FA;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow-y: auto;
    padding-left: 50px;
    padding-top: 36px;
    z-index: 0;
}

#root{
    display: flex;
}


/**
* The Styles below are for the forms
* ==================================
* ===========FORMS STYLE============
* ==================================
 */
.form {
    height: 985px;
}

form > div {
    margin-bottom: 12px;
}

input {
    outline: none;
    height: 32px;
    width: 537px;
    margin-top: 9px;
    padding: 10px;
    border: solid 1px #000000;
    border-radius: 5px;
    background-color: #f8f9fa;
}

input[type="text"]:focus, textarea:focus, .year:focus, .day:focus, .month:focus, #journals:focus {
    box-shadow: 0 0 10px #D49BA9, 0 0 6px #D49BA9;
    border-color: #D49BA9;
    transition: box-shadow 300ms ease-in-out;
}

textarea {
    outline: none;
    width: 537px;
    height: 116px;
    margin-top: 9px;
    resize: none;
    border-radius: 5px;
    border: solid 1px #000000;
    background-color: #f8f9fa;
    padding: 10px;
}

#journals {
    outline: none;
    width: 537px;
    height: 39px;
    border-radius: 5px;
    background-color: #f8f9fa;
    padding-left: 10px;
    margin-top: 9px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url("../static/arrow_drop_down_black_24dp.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

.black_button {
    padding: 0;
    font-size: 15px;
    color: #f8f9fa;
    width: 215px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #212529;
}

.year, .day, .month {
    width: 152px;
    height: 32px;
    background-color: #f8f9fa;
    padding-left: 10px;
    border-radius: 5px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    background-image: url("../static/arrow_drop_down_black_24dp.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

.date_accepted {
    margin-top: 15px;
    width: 517px;
    display: flex;
    justify-content: space-between;
}

.upload_box {
    height: 116px;
    border: solid #000000 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}