/*
 *  drawer background-color: #EDD4D4;
 */

@font-face {
    font-family: roboto;
    src: url("../static/Roboto/Roboto-Regular.ttf");
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.16);
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #ff9ea2;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #C82D35;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", serif;
    text-decoration: none;
    list-style: none;

}

nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav_container{
    height: 100vh;
    min-width: 250px;
    display: flex;
    justify-content: center;
    background-color: #EDD4D4;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    box-shadow: 6px 0 6px rgba(0, 0, 0, 0.16);
    z-index: 1;
}


.nav_container nav a {

    font-size: 15px;
}
.nav_box.active{
    color: #A12B33;
    border-left: solid #A12B33 6px;
}


.nav_box .active{
    color: #A12B33;
}
.nav_box .non_active{
    color: #212529;
    padding-left: 6px;
}
.nav_box{
    /*min-width: 163px;*/
    /*max-width: 163px;*/
    /*height: 20px;*/
    min-height: 15px;
    margin-bottom: 8px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 10px 49px;
}

.nav_box:hover {
    background-color: rgba(255, 242, 254, 0.52);
    transition: background 200ms ease-in;
}

.nav_box ul .nav_box {
    font-size: 12px;
    max-width: 175px;
    padding-left: 20px;
}


#form-container{
    background-color: #F8F9FA;
    width: 100%;
    height: 100vh;
    /*padding-left: 150px;*/
    padding-top: 36px;
    z-index: -1;
}

#root{
    display: flex;
}